<h1 >Comic books library</h1>
<div class="comics">
  <h2>Comics list</h2>
  <ul class="comics-list">
    {{#each comics key="@index" as |comic|}}
      <comics-list-item @comic={{comic}} 
                        @deleteItem={{action deleteComic}} />
    {{else}}
      Sorry, no comic found
    {{/each}}
  </ul>
</div>